@tailwind base;

@tailwind components;

@tailwind utilities;

.header {
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
  }
  .header1 {
    background-color: azure;
    width: 90%;
    height: 80px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
  }
  
  .searchform {
    /* border:1px solid blueviolet; */
    width: 100%;
    margin: auto;
    cursor: pointer;
  }
  .searchform input[type="text"] {
    margin-top: 5px;
    width: 100%;
    border: none;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #1f2937;
    border: 1px solid blueviolet;
    color: azure;
    border-radius: 5px;
  }
  .searchform input[type="submit"] {
    margin-top: 5px;
    width: 100px;
    border: none;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #1f2937;
    color: azure;
    border-radius: 5px;
    cursor: pointer;
  }
  .header1 > img {
    width: 150px;
    height: 37px;
    cursor: pointer;
  }
  .body {
    width: 100%;
    min-height: 100vh;
    background-color: blueviolet;
  }
  .body1 {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 15px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: azure;
    display: flex;
    gap: 1%;
  }
  .sidebar {
    width: 20%;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 5px;
  }
  .body2{
    width:80%;
    /* border:1px solid black; */
    min-height:490px;
  }
  .pagination{
    width:100%;
    /* background-color: blueviolet; */
    height:100px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-line{
    width:100%;
    margin: auto;
    position:sticky;
    height:50px;
    background-color: #1f2937;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
  }
  .page-line li:hover{
   color: blueviolet;
  }
  .link{
    border:1px solid azure;
    margin-left: 5px;
    padding: 8px;
    border-radius: 10%;
    cursor: pointer;
  }
  .link:hover{
    background-color: blueviolet;
  }
  .data {
    width: 100%;
    /* border: 1px solid black; */
    min-height:515px;
    padding:10px;
  }
  .theadmain{
    width:100%;
    /* border:1px solid black; */
    background-color: #1f2937;
    height:50px;
    display: grid;
    grid-template-columns: 8% 11% 12% 14% 13% 12% 17% 13%;
    padding:2px;
  }
  .thead{
    width:100%;
    /* border:1px solid black; */
    /* background-color: #1f2937; */
    height:50px;
    display: grid;
    grid-template-columns: 8% 11% 12% 14% 13% 12% 17% 13%;
    padding:2px;
  }
  .theadmain>div{
    border:1px solid azure;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: azure;
    font-size: 14px;
    font-weight: 600;
  }
  .thead>div{
    border:1px solid azure;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border: 1px solid #1f2937;
    color: #1f2937;
    font-size: 14px;
    font-weight: 600;
  }
  .singlerq {
    width: 100%;
    margin: auto;
    background-color: #1f2937;
    border-radius: 10px;
    margin-top: 5px;
    color: azure;
    padding: 15px;
  }
  .singlerq1 {
    padding: 10px;
    width: 100%;
    border: 1px solid azure;
    background-color: #1f2937;
    margin: auto;
    border-radius: 10px;
  }
  .product {
    padding: 10px;
    border: 1px solid azure;
    border-radius: 10px;
    line-height: 25px;
  }
  .product2 {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 2%;
  }
  .product > h1 {
    font-size: 19px;
  }
  .contact > h1 {
    font-size: 19px;
  }
  .cargo > h1 {
    font-size: 19px;
  }
  .contact {
    padding: 10px;
    border: 1px solid azure;
    border-radius: 10px;
    line-height: 25px;
    margin-top: 5px;
  }
  .cargo {
    padding: 10px;
    border: 1px solid azure;
    border-radius: 10px;
    line-height: 25px;
    margin-top: 5px;
  }
  .signlerq2 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .signlerq2 > h1 {
    font-size: 20px;
  }
  
  .green {
    background-color: green;
  }
  .red {
    background-color: rgb(211, 42, 42);
  }
  .dimentions {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 2%;
  }
  .dimentions > div {
    padding: 10px;
    border: 1px solid azure;
    text-align: center;
    border-radius: 10px;
  }
  .sidebar li>a{
    color:azure;
  }
  .sidebar li>a:hover{
    color:#1f2937;
  }
  .searchfil {
    margin-top: 10px;
    background-color: #1f2937;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    color: azure;
  }
  #customers {
      border-collapse: collapse;
      width: 100%;
      margin-top: 5px;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    .thead>div{
      text-align: center;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: blueviolet;
      color: white;
    }
  .users{
      width:100%;
      height:300px;
      margin: auto;
      background-color: blueviolet;
      border-radius: 10px;
      margin-top: 5px;
  }
  .accordion {
    background-color: #1f2937;
    color: azure;
    cursor: pointer;
    /* padding: 18px; */
    width: 100%;
    height: 50px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 9;
  }
  
  .spinner-4 {
    width: 50px;
    --b: 8px; /* the border thickness */
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,blueviolet) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation:s4 1s infinite steps(10);
  }
  @keyframes s4 {to{transform: rotate(1turn)}}
  .accordion_nores{
     background-color: #1f2937;
     color: azure;
     cursor: pointer;
     padding: 10px;
     width: 100%;
     border: none;
     text-align: left;
     outline: none;
     font-size: 15px;
     transition: 0.4s;
     border-radius: 5px;
     margin-top: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
  }
  
  .active,
  .accordion:hover {
    background-color: azure;
  }
  
  /* .accordion:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  } */
  
  .panel {
    padding: 0 18px;
    background-color: azure;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .dropbtn {
    width:650px;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 650px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  